body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  #player-count-per-region, #map-occurrences, #max-player-count-occurrences {
    margin-top: 40px;
  }
  
  #player-count-per-region table, #map-occurrences table, #max-player-count-occurrences table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  #player-count-per-region th, #map-occurrences th, #max-player-count-occurrences th,
  #player-count-per-region td, #map-occurrences td, #max-player-count-occurrences td {
    padding: 8px 12px;
    border: 1px solid #ccc;
  }
  
  #player-count-per-region th, #map-occurrences th, #max-player-count-occurrences th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  